@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap');

:root{
    --fonte-primaria: 'Do Hyeon', sans-serif;
    --fonte-secundária: 'Lato', sans-serif;
}
body {
    background: linear-gradient(225deg, #020024 0%, #001138 35%, #264180 100%);
}

.barra-navegacao {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 51px 51px auto;
    gap: 64px;
    font-family: var(--fonte-primaria);
    font-size: 24px;
    color: #4074D2; 
    
}
/*RESOLVER ALINHAMENTO ICON E TEXTO*/
.botoes-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    /* border: 1px solid red; */
}

.home {
    border-bottom: 3px solid #4074D2;
    padding-bottom: 8px;
}

svg {
    /* border: 1px solid red; */
    padding-bottom: 2px;
}

.container {
    border: 2px solid gray;
    padding: 16px;
    border-radius: 10px;
    margin: 160px 155px 117px 155px;
    display: flex;
    gap: 210px;
}

.container-apresentacao {
    /* border: 1px solid red; */
    width: 548px;
    /* height: 517px; */
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao-nome {
    font-family: var(--fonte-primaria);
    font-size: 36px;
    font-weight: 400;
    color: #F6F6F6;
}

#enfase-nome {
    color: #4074D2;
}

.apresentacao-texto {
    font-family: var(--fonte-secundária);
    font-size: 20px;
    font-weight: 400;
    color: #F6F6F6;
    line-height: 36px;
}

.foto-perfil {
    width: 488px;
}